<!-- side 1 -->
<aside class="bg-primary" style="width: 6%; position: relative; z-index: 101 !important; font-size: 14px;">
    <div class="d-flex flex-column align-items-center text-center" style="gap: 20px; padding-top: 14.1px;">
        <img src="./assets/Rectangle 63.png" alt="aside logo" class="mb-3">
        <div style="cursor: pointer;">
            <img src="./assets/fi_home.png" alt="home icon">
            <p>Dashboard</p>
        </div>
        <div style="cursor: pointer;">
            <img src="./assets/fi_truck.png" alt="truck icon">
            <p>Cars</p>
        </div>
    </div>
</aside>
<!-- end side 1 -->

<!-- side 2 -->
<aside style="width: 15%;">
    <ul class="text-dark d-flex flex-column fw-bold"
        style="list-style: none; margin-top: 105px; gap: 20px; cursor: pointer;">
        <li>CARS</li>
        <li>List Car</li>
    </ul>
</aside>
<!-- end side 2 -->